/*Tipografia*/
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

/*Reset*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*body*/
body {
    font-family: 'Exo', sans-serif;
}

.container {
    overflow: hidden;
    display: grid;
    min-width: 375px;
    width: 100%;
    max-width: 100%;
    grid-gap: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-template-areas:
        'header header'
        'banner banner'
        'servicios servicios'
        'why why'
        'about about'
        'destacado destacado'
        'destacado2 destacado2'
        'preguntas preguntas'
        'footer footer';
}

/*header*/
header {
    position: fixed;
    width: 100%;
    background-color: #130b24;
    grid-area: header;
    padding: 20px 0;
    transition: 0.6s;
    z-index: 100;
}

header img {
    width: 60%;
}

header.sticky {
    padding: 10px 0;
    background-color: #1c0e3a;
}

#check:checked ~ .nav-menu.sticky {
    top: 9vh;
}

/*navegacion*/
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
}

.logo {
    margin-left: 4rem;
}

.bar-btn {
    margin-right: 4rem;
    font-size: 40px;
    color: #58d264;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    height: 0vh;
    width: 50%;
    top: 11vh;
    right: 0;
    text-align: center;
    background-color: #473769;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 3vh 0;
    transition: all 0.5s;
}

.nav-menu li a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}
.nav-menu li a:hover {
    color: #58d264;
    transition: 0.3s;
    border-bottom: 1px solid #58d264;
}

#check {
    display: none;
}

#check:checked ~ .nav-menu {
    height: 40vh;
}

#check:checked ~ .nav-menu li {
    display: block;
}

/*Banner - Slide 1 - Slide 2*/

.banner {
    grid-area: banner;
    width: 200%;
    display: flex;
    transition: all 0.6s;
    margin-left: 0%;
}

.slide1 {
    background-image: url('img/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 51rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
}

.slide1 h2 {
    font-size: 35px;
}

.slide1 p {
    font-size: 20px;
    margin-top: 4rem;
}

.text-banner {
    margin-top: 5rem;
    width: 60%;
}

.boton-banner {
    margin-top: 5rem;
    width: 100%;
    text-align: center;
    animation: mover 0.6s infinite alternate;
}

@keyframes mover {
    0% {
        transform: translateY(-1rem);
    }
    100% {
        transform: translateY(1rem);
    }
}

.boton-banner a {
    width: 100%;
    color: #ffffff;
    padding: 20px 50px;
    background-color: #58d264;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
    border-radius: 100px;
}

.boton-banner a:hover {
    background-color: #3cad47;
}

.slide2 {
    background-image: url('img/banner3.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    height: 51rem;
}

.formulario-banner {
    background-color: #130b24;
    padding: 3rem;
    width: 75%;
    border-radius: 100px;
    margin-top: 4rem;
}

.formulario-banner h2 {
    margin-bottom: 1rem;
    font-size: 20px;
}

.formulario-banner form input {
    border: none;
    margin: 5px 0;
    padding: 10px;
    border-radius: 100px;
    font-size: 10px;
    background-color: #24183e;
    color: rgba(255, 255, 255, 0.562);
    font-family: 'Exo', sans-serif;
}

.formulario-banner form {
    display: flex;
    flex-direction: column;
}

.formulario-banner form button {
    padding: 5px;
    margin-top: 1rem;
    border-radius: 100px;
    background-color: #58d264;
    border: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Exo', sans-serif;
    transition: 0.5s;
}

.formulario-banner form button:hover {
    background-color: #3cad47;
}

.texto-slide2 {
    margin-top: 8rem;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.texto-banner2 h2 {
    font-size: 30px;
}

.texto-banner2 p {
    margin-top: 2rem;
    font-size: 20px;
}

.button-go_back {
    width: 100%;
    text-align: center;
    animation: mover 1s infinite alternate;
    margin-top: 3.5rem;
}

.button-go_back a {
    color: #ffffff;
    padding: 20px 40px;
    background-color: #58d264;
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s;
    border-radius: 100px;
}

.button-go_back a:hover {
    background-color: #3cad47;
}

/*Seccion Servicios y Slider de Servicios*/

.servicios {
    background-color: #130b24;
    height: 51rem;
    grid-area: servicios;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.texto-servicios {
    margin-top: 2rem;
    color: white;
    width: 85%;
    margin-bottom: 4rem;
}

.texto-servicios h2 {
    font-size: 30px;
}

.texto-servicios p {
    font-size: 20px;
    margin-top: 2rem;
}

.contenedor-slider {
    width: 85%;
    overflow: hidden;
    position: relative;
}

.slider-servicios {
    display: flex;
    width: 500%;
    height: 20rem;
    margin-left: -100%;
}

.item-s {
    display: block;
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #473769;
    border-radius: 50px;
}

.item-1 .content {
    background-image: url('img/casa.png');
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 85%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 30px;
    color: #ffffff;
}

.item-2 .content {
    background-image: url('img/plan2.jpg');
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 85%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 30px;
    color: #ffffff;
}

.item-3 .content {
    background-image: url('img/plan4.jpg');
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 85%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 30px;
    color: #ffffff;
}

.item-4 .content {
    background-image: url('img/plan5.jpg');
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 85%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 30px;
    color: #ffffff;
}

.item-5 .content {
    background-image: url('img/plan3.jpg');
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 85%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 30px;
    color: #ffffff;
}

#boton_izquierdo,
#boton_derecho {
    position: absolute;
    color: #684da39f;
    top: 41%;
    font-size: 70px;
    cursor: pointer;
    transition: 0.5s;
}

#boton_izquierdo:hover,
#boton_derecho:hover {
    color: #684da3;
}

#boton_izquierdo {
    left: 30px;
}

#boton_derecho {
    right: 30px;
}

/*INICIO DE LA SECCION WHY*/

.why {
    grid-area: why;
    height: 51rem;
    background-color: #24183e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.promo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.promo h2 {
    width: 80%;
    font-size: 35px;
    margin-bottom: 4rem;
}

.promo iframe {
    padding: 20px;
    background-color: #130b24;
    width: 90%;
    height: 20rem;
    border-radius: 50px;
}

/*<-------------------------------------------------->*/

/*Inicio de About Me*/

.about {
    width: 100%;
    height: 60rem;
    grid-area: about;
    color: #ffffff;
    background-color: #130b24;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.texto-about {
    width: 80%;
}

.texto-about h2 {
    font-size: 25px;
}

.texto-about p {
    margin-top: 1rem;
    font-size: 15px;
}

.formulario-about {
    margin-top: 3rem;
    background-color: #604c8b;
    padding: 3rem;
    width: 75%;
    border-radius: 100px;
    animation: mover 1.5s infinite alternate;
}

.formulario-about h2 {
    font-size: 20px;
    margin-bottom: 1rem;
}

.formulario-about form {
    display: flex;
    flex-direction: column;
}

.formulario-about form input {
    border: none;
    margin: 5px 0;
    padding: 10px;
    border-radius: 100px;
    font-size: 10px;
    background-color: #24183e;
    color: rgba(255, 255, 255, 0.562);
    font-family: 'Exo', sans-serif;
}

.formulario-about form textarea {
    border: none;
    margin: 10px 0;
    border-radius: 100px;
    font-size: 10px;
    background-color: #24183e;
    color: rgba(255, 255, 255, 0.562);
    font-family: 'Exo', sans-serif;
    padding: 8px;
    height: 2rem;
}

.formulario-about form button {
    padding: 5px;
    border-radius: 100px;
    background-color: #58d264;
    border: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Exo', sans-serif;
    transition: 0.5s;
}

.formulario-about form button:hover {
    background-color: #3cad47;
}

/*<--------------------------------------------------->*/

/*Inicio de Productos Destacados*/

.destacado {
    grid-area: destacado;
    background-color: #24183e;
    height: 50rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.producto-destacado {
    width: 80%;
}

.producto-destacado h2 {
    font-size: 30px;
    margin-bottom: 3rem;
}

.item-d {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #130b24;
    border-radius: 70px;
    padding: 50px;
}

.item-d .content {
    background-image: url('img/plan3.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #ffffff;
}

.destacado2 {
    grid-area: destacado2;
    background-color: #24183e;
    height: 58rem;
}

/*<------------------------------------------------->*/

/*Inicio de Comentarios*/

.destacado2-content {
    height: 60rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.destacado2-content h2 {
    font-size: 30px;
    width: 80%;
}

.redonda {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 10px solid #58d264;
    margin-bottom: 1rem;
}

.opinion1,
.opinion2 {
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.texto-op {
    width: 100%;
}

.texto-op h3 {
    font-size: 25px;
}

.texto-op p {
    margin-top: 1rem;
    font-size: 15px;
}

/*<--------------------------------------------------->*/

/*Inicio de Preguntas Frecuentes*/

.reverse {
    transform: rotate(180deg);
}

.preguntas-frecuentes {
    display: flex;
    flex-direction: column;
    grid-area: preguntas;
    background-color: #130b24;
    height: 50rem;
    justify-content: center;
    align-items: center;
    color: white;
}

.preguntas-frecuentes h2 {
    margin-top: 4rem;
    font-size: 30px;
    margin-bottom: 2rem;
}

.preguntas {
    margin-top: 2rem;
    width: 85%;
    background-color: #24183e;
    padding: 3rem;
    border-radius: 100px;
}

.barra1,
.barra2,
.barra3,
.barra4,
.barra5 {
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
    font-size: 12px;
}

.preguntas-frecuentes li {
    padding: 12px 0;
    transition: 0.5s;
    cursor: pointer;
    margin: 20px auto;
}

.preguntas-frecuentes li h3 {
    font-size: 15px;
    transition: 0.4s;
}

.preguntas-frecuentes li h3:hover {
    margin-left: 10px;
}

.preguntas-frecuentes li i {
    font-size: 20px;
    color: #58d264;
    transition: 0.4s;
}

.preguntas-frecuentes li p {
    margin-top: 1rem;
    display: none;
    text-align: justify;
    font-size: 10px;
}

.preguntas-frecuentes .borde-li2 {
    border-top: 2px solid #58d264;
}

footer {
    grid-area: footer;
    background-color: #24183e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    color: #58d264;
    font-size: 8px;
    padding: 20px 0;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.redes {
    margin-top: 1rem;
    display: flex;
}

.redes-icons {
    margin-left: 20px;
}

.redes-icons a i {
    color: #58d26493;
    transition: 0.4s;
}

.redes-icons a i:hover {
    color: #58d264;
}

/*<------------------------------------------------>*/

/*All Animations*/

#speed-t,
#speed-p,
#why-t,
#about-f,
#destacado-t,
#destacado-tc,
#preguntas-t {
    opacity: 0;
    transform: translatex(5rem);
    transition: all 1s;
}

#contenedor-slider,
#why-v,
#about-t,
#destacado-p,
#op1,
#op2,
#preguntas-d {
    opacity: 0;
    transform: translateX(-5rem);
    transition: all 1s;
}

#contenedor-slider.visible,
#why-v.visible,
#speed-t.visible,
#speed-p.visible,
#why-t.visible,
#about-t.visible,
#about-f.visible,
#destacado-t.visible,
#destacado-p.visible,
#op1.visible,
#op2.visible,
#destacado-tc.visible,
#preguntas-t.visible,
#preguntas-d.visible {
    opacity: 1;
    transform: translateX(0rem);
}

/*<-------------------------------------------------->*/

/*Activacion de Navbar Hamburguesa*/
@media screen and (min-width: 1028px) {
    header img {
        width: 90%;
    }

    nav {
        height: 100px;
    }
    .bar-btn {
        display: none;
    }
    .nav-menu {
        flex-direction: row;
        width: 100%;
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        background-color: none;
        margin-right: 4rem;
        justify-content: end;
    }
    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }
    .nav-menu li a {
        font-size: 20px;
    }
}
