/*Tipografia*/
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

/*Reset*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*body*/
body {
    font-family: 'Exo', sans-serif;
}

.container {
    overflow: hidden;
    display: grid;
    min-width: 375px;
    width: 100%;
    max-width: 100%;
    grid-gap: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
        'header header'
        'banner banner'
        'servicios servicios'
        'why why';
}

/*header*/
header {
    position: fixed;
    width: 100%;
    background-color: #130b24;
    grid-area: header;
    padding: 20px 0;
    transition: 0.6s;
    z-index: 100;
}

header img {
    width: 60%;
}

header.sticky {
    padding: 10px 0;
    background-color: #1c0e3a;
}

#check:checked ~ .nav-menu.sticky {
    top: 8vh;
}

/*navegacion*/
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
}

.logo {
    margin-left: 4rem;
}

.bar-btn {
    margin-right: 4rem;
    font-size: 40px;
    color: #58d264;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    height: 0vh;
    width: 50%;
    top: 11vh;
    right: 0;
    text-align: center;
    background-color: #473769;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 3vh 0;
    transition: all 0.5s;
}

.nav-menu li a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}
.nav-menu li a:hover {
    color: #58d264;
    transition: 0.3s;
    border-bottom: 1px solid #58d264;
}

#check {
    display: none;
}

#check:checked ~ .nav-menu {
    height: 40vh;
}

#check:checked ~ .nav-menu li {
    display: block;
}

/*Banner - Slide 1 - Slide 2*/

.banner {
    grid-area: banner;
    width: 200%;
    display: flex;
    transition: all 0.6s;
    margin-left: 0%;
}

.slide1 {
    background-image: url('img/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 58rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

.slide1 h2 {
    font-size: 60px;
}

.slide1 p {
    font-size: 38px;
    margin-top: 4rem;
}

.text-banner {
    margin-left: 5rem;
    width: 60%;
}

.boton-banner {
    width: 38%;
    text-align: center;
    margin-top: 35rem;
}

.boton-banner a {
    width: 100%;
    color: #ffffff;
    padding: 40px 70px;
    background-color: #58d264;
    font-size: 40px;
    font-weight: 600;
    transition: 0.5s;
    border-radius: 100px;
}

.boton-banner a:hover {
    background-color: #3cad47;
}

.slide2 {
    background-image: url('img/banner3.jpg');
    background-size: cover;
    background-position: center;
    height: 58rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #ffffff;
}

.formulario-banner {
    margin-top: 8rem;
    background-color: #130b24;
    padding: 4rem;
    width: 50%;
    border-radius: 100px;
}

.formulario-banner h2 {
    margin-bottom: 2rem;
    font-size: 30px;
}

.formulario-banner form input {
    border: none;
    margin: 10px 0;
    padding: 15px;
    border-radius: 100px;
    font-size: 25px;
    background-color: #24183e;
    color: rgba(255, 255, 255, 0.562);
    font-family: 'Exo', sans-serif;
}

.formulario-banner form {
    display: flex;
    flex-direction: column;
}

.formulario-banner form button {
    padding: 15px;
    margin-top: 2rem;
    border-radius: 100px;
    background-color: #58d264;
    border: none;
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Exo', sans-serif;
    transition: 0.5s;
}

.formulario-banner form button:hover {
    background-color: #3cad47;
}

.formulario-banner form input:focus {
    outline: none;
}

.texto-slide2 {
    margin-top: 8rem;
    width: 35%;
    display: flex;
    flex-direction: column;
}

.texto-banner2 {
    margin-bottom: 6rem;
}

.texto-banner2 h2 {
    font-size: 65px;
}

.texto-banner2 p {
    margin-top: 3rem;
    font-size: 35px;
}

.button-go_back {
    width: 100%;
    text-align: center;
}

.button-go_back a {
    color: #ffffff;
    padding: 30px 70px;
    background-color: #58d264;
    font-size: 40px;
    font-weight: 600;
    transition: 0.5s;
    border-radius: 100px;
}

.button-go_back a:hover {
    background-color: #3cad47;
}

/*Seccion Servicios y Slider de Servicios*/

.servicios {
    background-color: #130b24;
    height: 58rem;
    grid-area: servicios;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto-servicios {
    margin-top: 8rem;
    color: white;
    width: 85%;
    margin-bottom: 4rem;
}

.texto-servicios h2 {
    font-size: 60px;
}

.texto-servicios p {
    font-size: 30px;
    margin-top: 2rem;
}

.contenedor-slider {
    width: 95%;
    overflow: hidden;
    position: relative;
}

.slider-servicios {
    display: flex;
    width: 500%;
    height: 20rem;
    margin-left: -100%;
}

.item-s {
    display: block;
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #473769;
    border-radius: 50px;
}

.item-1 .content {
    background-image: url('img/casa.png');
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 85%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 60px;
    color: #ffffff;
}

.item-2 .content {
    background-image: url('img/plan2.jpg');
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 85%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 60px;
    color: #ffffff;
}

.item-3 .content {
    background-image: url('img/plan4.jpg');
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 85%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 60px;
    color: #ffffff;
}

.item-4 .content {
    background-image: url('img/plan5.jpg');
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 85%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 60px;
    color: #ffffff;
}

.item-5 .content {
    background-image: url('img/plan3.jpg');
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 85%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 60px;
    color: #ffffff;
}

#boton_izquierdo,
#boton_derecho {
    position: absolute;
    color: #684da39f;
    top: 41%;
    font-size: 70px;
    cursor: pointer;
    transition: .5s;
}

#boton_izquierdo:hover,
#boton_derecho:hover {
    color: #684da3;
}

#boton_izquierdo {
    left: 120px;
}

#boton_derecho {
    right: 120px;
}

/*INICIO DE LA SECCION WHY*/

.why {
    grid-area: why;
    height: 58rem;
    background-color: #473769;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.promo {
    margin-top: 8rem;
}

.promo h2 {
    font-size: 55px;
    margin-bottom: 4rem;
}

.promo iframe {
    padding: 50px;
    background-color: #24183e;
    width: 100%;
    height: 35rem;
    border-radius: 50px;
}




/*Activacion de Navbar Hamburguesa*/
@media screen and (min-width: 1028px) {
    header img {
        width: 90%;
    }

    nav {
        height: 100px;
    }
    .bar-btn {
        display: none;
    }
    .nav-menu {
        flex-direction: row;
        width: 100%;
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        background-color: none;
        margin-right: 4rem;
        justify-content: end;
    }
    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }
    .nav-menu li a {
        font-size: 20px;
    }
}
